@import "../common/variables";

.list-added-candidates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 8px;

  .added-cand {
    &__container{
      display: flex;
      flex-direction: row;
      background: $constant-purple;
      padding: 8px;
      font-weight: bold;
      color: $constant-white;
      margin: 4px;
      border-radius: 20px;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        background-color: $constant-red;
      }

      &:hover .added-cand__remove {
        display: block;
      }
    }

    &__name{
      padding-left: 8px;
      margin-right: 8px;
    }

    &__remove {
      padding-right: 8px;
      justify-content: center;
      display: none;
    }
  }
}

.input {
  &__add-cand-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    justify-content: center;
    text-align: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 2px solid $constant-purple;
    background-color: $constant-background;
    border-radius: 50%;
  }
}

.submit-button {
  border: 2px solid $constant-purple;
  border-radius: 8px;
  color: $constant-purple;
  background-color: $constant-white;
  width: 300px;
  height: 48px;
  justify-self: center;
  align-self: center;

  &:hover:not(:disabled)  {
    background-color: $constant-purple;
    color: $constant-white;
    box-shadow: 0 0 0 0.25rem $constant-purple-fadest;
  }

  &:disabled {
    border: 2px solid $constant-purple-fader;
    color: $constant-purple-fader;
  }

  @media screen and (max-width: 768px) { 
    width: 200px;
    height: 32px;
    justify-content: center;
    align-self: center;
    justify-self: center;
  }
}

.ballot-form {
  display: flex;
  flex-direction: column;
}

.input-checkbox:last-of-type {
  @media screen and (max-width: 768px) { 
    margin: 0 0 16px 0;

  }
}

.input-checkbox {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 16px 0;

  @media screen and (max-width: 768px) { 
    margin: 16px 0;

    .form-check-label {
      font-size: 16px;
    }

    .form-check-input {
      height: 16px;
      width: 16px;
      margin-right: 8px;
    }
  }

  .info-hover {
    background-color: $constant-purple;
    color: $constant-white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    font-size: smaller;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    cursor: help;

    &__tooltip {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 4px;
      transition: all .15s ease-in;
      transform: translate(-50%, 1em);
      left: 50%;
      bottom: calc(100% + 8px);

      /* Position the tooltip */
      position: absolute;
      width: 300px;
      z-index: 1;
    }

    &:active .info-hover__tooltip {
      visibility: visible;
      transform: translate(-50%, 0);
    }

    &:hover .info-hover__tooltip {
      visibility: visible;
      transform: translate(-50%, 0);
    }
  }
}

.creation-container {
  background-color: $constant-white;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0px 0px 18px -6px rgb(101, 101, 101);

  button {
    border-radius: 8px;
    border: 2px solid $constant-purple;
    color: $constant-purple;
    box-shadow: none;
  }

  .save-info {
    font-size: 16px;

    @media screen and (max-width: 786px) {
      font-size: 12px !important;
    }
  }
}