@import "../common/variables";

.navbar {
  &__container {
    width: 100%;
    align-items: center;
  }

  &__logo-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    h1 {
      margin: 8px;
    }
  }

  &__logo {
    cursor: pointer;
    color: $constant-purple;
  }

  &__menu-list {
    
    margin: 20px;
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin: 8px 8px;
    padding: 8px 0px;
    display: inline-block;
    position: relative;
    opacity: 1;
    z-index: 4;
    color: $constant-white;
    align-content: center;
    align-self: center;
    align-items: center;
    font-size: small;
    width: max-content;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: $constant-purple;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover {
      color: $constant-purple;
    }

    &:hover:after {
      background-color: $constant-purple;
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    
    &--active {
      font-weight: bold;
      color: $constant-purple;
      border-bottom: 2px solid $constant-purple;
    }
  }
}