@import "./common/variables";

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-button {
  width: 200px;
  height: 32px;
  background: $constant-purple-fader;
}

.button {
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.main-button {
  width: 250px;
  height: 38px;
  margin: 30px;
  background: $constant-purple;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    justify-self: center;
    align-self: center;
  }
}